/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body{
	margin: 30px 70px;
	 /* border: 2px solid grey;  */
}
#navigation{
	display: flex;
	align-items: center;
	justify-content: space-between;
} 
nav{
	display: flex;
	width: 70%;
	justify-content: space-between;
}
nav a{
	color: grey;
	text-decoration: none;
	display: flex;
}
.logo{
	width: 20%;
}
/*2nd line with "Innovation on Demand and code photo*/
.secondline{
	display: flex;
	padding: 55px 0;
	width: 100%;
}
.first{
	display: flex;
	width: 49%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1{
	display: flex;
	font-size: 6em;
	text-align: center;
}
#button{
	border: 1px solid black;
	width: 120px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#headerImg{
	display: flex;
	width: 50%;
	justify-content: center;
}
/*-------third line--------*/
.thirdline{
	border-top: 2px solid black;
	padding: 40px 0px;
	display: flex;
	justify-content: flex-start;

}
#features{
	width: 49%;
	display: flex;
	flex-direction: column;
	padding-right: 40px;
}
#about{
	width: 50%;
	display: flex;
	flex-direction: column;
}
/*fourth line*/
.middle-img{
	width: 100%;
/*------ Bottom text... 5th line -----*/
}
.bottom{
	border-bottom: 2px solid black;
	padding: 50px 0;
	display: flex;
}
#services{
	width: 33%;
	display: flex;
	flex-direction: column;
}
#product{
	width: 33%;
	display: flex;
	padding-left: 20px;
	flex-direction: column;
}
#vision{
	width: 33.3%;
	display: flex;
	padding-left: 20px;
	flex-direction: column;
}
/* ----Contact----- */
#contact{
	margin: 30px 0;
}
footer{
	width: 100%;
	text-align: center;
	margin: 20px;
}
/*~~~~~~~~~~~~~~~~~~code for Services page~~~~~~~~~~~~~~~~~~~~~~~*/
/* navigation code reused from Home Page*/
.logo-services{
	width: 80%;
}
/*2nd line is just an image*/
.services-header-img{
	width: 100%;
	padding-top: 30px;
}
/*Third Line: Services and a paragraph*/
#services-page{
	padding: 50px 0;
	border-bottom: 1px solid black;
}
#services-page h2{
	font-size: 30px;
}

/* ---------the 6 boxes---------- */
.boxes{
	border-bottom: 2px solid black;
	padding: 40px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.boxes .box{
	background-color: rgb(240, 239, 239);
	border: 1px solid black;
	width: 48.5%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	margin: 15px 0;

}
.boxes .box .button{
	background-color: white;
	width: 120px;
	padding: 5px 15px;
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}
/*Bottom Section of the Services Page*/

.Some-Facts{
	margin: 50px 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.left{
	width: 48.5%;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
}
.left ul{
	list-style-type: square;
	margin: 20px;
}
.left ul li{
	padding: 10px 0;
}
.services-info-img{
	width: 48.5%;
	display: flex;
	flex-wrap: wrap;
}